<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="icon" href="/logo.png" type="image/gif" sizes="16x16">

    <title>DeveloperJobs</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">

        <a class="navbar-brand" href="/">
            <img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            DeveloperJobs
        </a>
        <div class="navbar-nav mr-auto">
            <ul class="nav navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="http://sylvain.alwaysdata.net">Qui suis-je ?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mailing/liste">Mailing List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/sylvain-joly-3a7152aa/detail/recent-activity/shares/"><i
                                class="fa fa-linkedin"></i></a>
                </li>

            </ul>

        </div>

        <div class="nav navbar-right">
            <li class="nav-item dropdown">
                <a class="btn btn-secondary btn-lg" href="/jobs">
                    Poster une offre pour 4.99€
                </a>

        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4><%= job.position %></h4>
                                <h5>
                                    <% if (job.companyUrl) { %>
                                    <i class="fa fa-building"></i>
                                    <a href="<%- job.companyUrl %>" target="_blank"><%= job.companyName %> </a>
                                    /
                                    <% } else { %>
                                    <i class="fa fa-building"></i>
                                    <%= job.companyName %> /
                                    <% } %>

                                    <i class="fa fa-map-marker"></i>
                                    <%= job.location %>
                                </h5>
                                <div>
                                    <% if (job.isRemoteFriendly) { %>
                                    <i class="fa fa-check text-success"></i> Remote friendly
                                    <% } else { %>
                                    <i class="fa fa-times text-danger"></i> Remote friendly
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p><i class="fa fa-bell"></i> <%= job.createdAt.toLocaleDateString('fr-FR') %>
                                    %></p>
                            </div>
                        </div>


                        <hr class="ml-5 mr-5">
                        <div class="mt-4">
                            <div class="m-2">
                                <h6><i class="fa fa-id-badge"></i> Description du job</h6>
                                <div>
                                    <%- job.description %>
                                </div>
                            </div>

                            <div class="m-2">
                                <h6><i class="fa fa-tasks"></i> Responsabilités</h6>
                                <div>
                                    <%- job.responsibilities %>
                                </div>
                            </div>
                            <div class="m-2">
                                <h6><i class="fa fa-cogs"></i> Compétences</h6>
                                <div>
                                    <%- job.requirements %>
                                </div>
                            </div>
                        </div>

                        <div class="card-header">
                            <h6><i class="fa fa-tags"></i> Tags</h6>
                            <% if(job.tags.length === 0) { %>
                            <p class="text-center">Aucun tags utilisés</p>
                            <% } else { %>
                            <% for(let i in job.tags.split(",")) { %>
                            <span class="badge badge-info"><i class="fa fa-tags"></i> <%= job.tags.split(",")[i] %></span>
                            <% } %>
                            <% } %>
                        </div>

                    </div>
                </div>

        <footer class="footer mt-4">
            <div class="container">
                <p class="text-center">Made with <i class="fa fa-heart" style="color: red"></i> by <a
                            href="http://sylvain.alwaysdata.net/">Joly Sylvain</a></p>
                <p  class="text-center"><small><i class="fa fa-envelope"></i> developerjobs.service@gmail.com</small></p>
                <p  class="text-center"><small><i class="fa fa-phone"></i> +33642561130</small></p>
            </div>
        </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>